body {
    background-image: url('images/pexels-pixabay-316080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: auto;
    z-index: 2; /* Fica acima da camada de desfoque */
}
#presentationText{
    background: gray;
    background: rgba(128, 128, 128, 0.6);
    border-radius: 30px;
    color: white
}

#rodolfo-other {
    background: rgba(128, 128, 128, 0.6);
    border-radius: 30px;
    color: white
}
#custom-padding {
        padding-left: 31vh;  /* Ajuste para o valor desejado */
        padding-right: 31vh; /* Ajuste para o valor desejado */
}
